@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Nunito:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-whiteColor bg-primaryColor tracking-wider font-dmsans dark:bg-darkColor;
  }

  section {
    @apply pt-16 pb-4 md:pt-20;
  }
}

@layer components {
  .btn {
    @apply inline-block text-sm py-3 px-8 capitalize text-center cursor-pointer rounded-md ease-linear duration-200;
  }

  .btn-primary {
    @apply text-blackColor bg-secondaryColor hover:opacity-75;
  }
}

@layer utilities {
  .title,
  .card-title,
  .about-title {
    @apply text-4xl font-oswald font-bold uppercase lg:text-6xl;
  }

  .card-title {
    @apply text-xl;
  }

  .about-title {
    @apply text-3xl;
  }
  .sep {
    @apply w-28 md:w-48 h-[2px] bg-secondaryColor my-5;
  }

  .para {
    @apply text-paragraphColor text-sm leading-5;
  }
}

.tabs-wrap ul li.active {
  @apply bg-secondaryColor text-blackColor;
}
